function King.new 0
push constant 23
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 6
push argument 1
pop this 7
push constant 0
pop this 8
push argument 0
pop this 3
push argument 1
pop this 4
push constant 0
pop this 5
push constant 1
pop this 11
push constant 0
pop this 14
push constant 0
pop this 15
push constant 60
pop this 22
push constant 0
not
pop this 20
push constant 132
pop this 10
push constant 132
pop this 9
push constant 0
pop this 21
push constant 8
pop this 0
push constant 256
pop this 2
push constant 32
pop this 1
push pointer 0
call King.render 1
pop temp 0
push pointer 0
return
function King.setGravity 0
push argument 0
pop pointer 0
push argument 1
pop this 13
push constant 0
return
function King.setDy 0
push argument 0
pop pointer 0
push argument 1
pop this 12
push constant 0
return
function King.setX 0
push argument 0
pop pointer 0
push this 6
pop this 3
push argument 1
push this 1
call Utils.mod 2
pop this 6
push constant 0
return
function King.setY 0
push argument 0
pop pointer 0
push this 7
pop this 4
push argument 1
push constant 30
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 256
push constant 30
push argument 1
sub
sub
pop this 7
push constant 0
not
pop this 21
goto IF_END0
label IF_FALSE0
push argument 1
push constant 255
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 30
push argument 1
push constant 255
sub
add
pop this 7
push constant 0
not
pop this 21
goto IF_END1
label IF_FALSE1
push argument 1
pop this 7
push constant 0
pop this 21
label IF_END1
label IF_END0
push constant 0
return
function King.shiftLevel 0
push argument 0
pop pointer 0
push argument 1
pop this 21
push constant 0
return
function King.setOffset 0
push argument 0
pop pointer 0
push this 8
pop this 5
push argument 1
push this 0
call Utils.mod 2
pop this 8
push constant 0
return
function King.setDirection 0
push argument 0
pop pointer 0
push this 9
push constant 131
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 9
pop this 10
label IF_FALSE0
push argument 1
pop this 9
push constant 0
return
function King.getX 0
push argument 0
pop pointer 0
push this 6
return
function King.getY 0
push argument 0
pop pointer 0
push this 7
return
function King.getOffset 0
push argument 0
pop pointer 0
push this 8
return
function King.landed 0
push argument 0
pop pointer 0
push this 20
return
function King.onDiffLevel 0
push argument 0
pop pointer 0
push this 21
return
function King.getDirection 0
push argument 0
pop pointer 0
push this 9
return
function King.refresh 0
push argument 0
pop pointer 0
push argument 1
push constant 0
gt
push this 20
not
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call King.moveVertical 1
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
push this 7
call King.setY 2
pop temp 0
label IF_END0
push this 9
push constant 131
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call King.moveSideways 1
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
push this 6
call King.setX 2
pop temp 0
push pointer 0
push this 8
call King.setOffset 2
pop temp 0
label IF_END1
push constant 0
return
function King.moveVertical 0
push argument 0
pop pointer 0
push this 15
push this 13
call Math.multiply 2
push this 22
call Math.divide 2
pop this 14
push pointer 0
push this 7
push this 12
add
push this 14
add
call King.setY 2
pop temp 0
push this 15
push constant 1
add
pop this 15
push constant 0
return
function King.moveSideways 0
push argument 0
pop pointer 0
push pointer 0
push this 6
call King.setX 2
pop temp 0
push this 10
push this 9
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 8
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 9
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push this 6
push this 11
sub
call King.setX 2
pop temp 0
goto IF_END2
label IF_FALSE2
push pointer 0
push this 6
push this 11
add
call King.setX 2
pop temp 0
label IF_END2
label IF_FALSE1
push pointer 0
push this 0
push this 8
sub
push this 11
add
call King.setOffset 2
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
push this 8
push this 11
add
call King.setOffset 2
pop temp 0
label IF_END0
push this 8
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 9
push constant 130
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push this 6
push this 11
sub
call King.setX 2
pop temp 0
goto IF_END4
label IF_FALSE4
push pointer 0
push this 6
push this 11
add
call King.setX 2
pop temp 0
label IF_END4
label IF_FALSE3
push constant 0
return
function King.kingRender 1
push argument 0
pop pointer 0
push this 9
pop local 0
push local 0
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 10
pop local 0
label IF_FALSE0
push this 8
push constant 0
eq
push this 3
push this 6
eq
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push this 7
call Graphics.kingRight8 2
pop temp 0
goto IF_END2
label IF_FALSE2
push this 3
push this 7
call Graphics.kingLeft8 2
pop temp 0
label IF_END2
label IF_FALSE1
push this 8
push constant 0
eq
push this 3
push this 6
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 6
push this 7
call Graphics.kingIdle 2
pop temp 0
label IF_FALSE3
push this 8
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 132
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 6
push this 7
call Graphics.kingRight1 2
pop temp 0
goto IF_END5
label IF_FALSE5
push this 6
push this 7
call Graphics.kingLeft1 2
pop temp 0
label IF_END5
label IF_FALSE4
push this 8
push constant 2
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
push constant 132
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 6
push this 7
call Graphics.kingRight2 2
pop temp 0
goto IF_END7
label IF_FALSE7
push this 6
push this 7
call Graphics.kingLeft2 2
pop temp 0
label IF_END7
label IF_FALSE6
push this 8
push constant 3
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 0
push constant 132
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 6
push this 7
call Graphics.kingRight3 2
pop temp 0
goto IF_END9
label IF_FALSE9
push this 6
push this 7
call Graphics.kingLeft3 2
pop temp 0
label IF_END9
label IF_FALSE8
push this 8
push constant 4
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 0
push constant 132
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 6
push this 7
call Graphics.kingRight4 2
pop temp 0
goto IF_END11
label IF_FALSE11
push this 6
push this 7
call Graphics.kingLeft4 2
pop temp 0
label IF_END11
label IF_FALSE10
push this 8
push constant 5
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push local 0
push constant 132
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push this 6
push this 7
call Graphics.kingRight5 2
pop temp 0
goto IF_END13
label IF_FALSE13
push this 6
push this 7
call Graphics.kingLeft5 2
pop temp 0
label IF_END13
label IF_FALSE12
push this 8
push constant 6
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push local 0
push constant 132
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push this 6
push this 7
call Graphics.kingRight6 2
pop temp 0
goto IF_END15
label IF_FALSE15
push this 6
push this 7
call Graphics.kingLeft6 2
pop temp 0
label IF_END15
label IF_FALSE14
push this 8
push constant 7
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push local 0
push constant 132
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 6
push this 7
call Graphics.kingRight7 2
pop temp 0
goto IF_END17
label IF_FALSE17
push this 6
push this 7
call Graphics.kingLeft7 2
pop temp 0
label IF_END17
label IF_FALSE16
push constant 0
return
function King.eraseResidue 4
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 6
push this 3
eq
not
push this 9
push this 10
eq
not
and
push this 8
push constant 0
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 6
pop this 3
label IF_FALSE0
push this 10
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
push constant 16
call Math.multiply 2
push this 5
push constant 2
call Math.multiply 2
add
pop local 0
push this 3
push constant 2
add
push constant 16
call Math.multiply 2
push this 5
push constant 2
call Math.multiply 2
add
pop local 2
goto IF_END1
label IF_FALSE1
push this 3
push constant 16
call Math.multiply 2
push this 5
push constant 2
call Math.multiply 2
sub
pop local 0
push this 3
push constant 2
add
push constant 16
call Math.multiply 2
push this 5
push constant 2
call Math.multiply 2
sub
push constant 3
sub
pop local 2
label IF_END1
push this 14
push this 12
call Math.abs 1
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 7
push constant 1
add
pop local 1
push this 4
pop local 3
push this 14
push this 12
call Math.abs 1
gt
push local 1
push constant 30
gt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 4
push constant 30
sub
pop local 1
push this 7
push constant 30
sub
pop local 3
label IF_FALSE3
push this 21
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
push constant 30
sub
pop local 1
push this 4
pop local 3
label IF_FALSE4
push local 2
push constant 511
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
push local 1
push local 2
push constant 511
sub
push local 3
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE5
push local 0
push constant 0
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 511
push local 0
add
push local 1
push constant 511
push local 3
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE6
push local 0
push constant 0
call Utils.max 2
pop local 0
push local 2
push constant 511
call Utils.min 2
pop local 2
push local 0
push local 1
push local 2
push local 3
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push constant 0
return
function King.render 0
push argument 0
pop pointer 0
push pointer 0
call King.kingRender 1
pop temp 0
push this 4
push this 7
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call King.eraseResidue 1
pop temp 0
label IF_FALSE0
push constant 0
return
function King.computeHitbox 1
push argument 0
pop pointer 0
push this 9
pop local 0
push this 9
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 10
pop local 0
label IF_FALSE0
push local 0
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 6
push constant 16
call Math.multiply 2
push this 8
push constant 2
call Math.multiply 2
add
push constant 2
add
pop this 16
push this 7
push constant 29
sub
pop this 17
push constant 24
pop this 18
push constant 29
pop this 19
goto IF_END1
label IF_FALSE1
push this 6
push constant 16
call Math.multiply 2
push this 8
push constant 2
call Math.multiply 2
sub
push constant 1
add
pop this 16
push this 7
push constant 29
sub
pop this 17
push constant 24
pop this 18
push constant 29
pop this 19
label IF_END1
push constant 0
return
function King.checkForCollisions 3
push argument 0
pop pointer 0
push constant 0
pop this 20
push pointer 0
call King.computeHitbox 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push argument 1
call Level.getSize 1
lt
not
if-goto WHILE_END0
push argument 1
push local 0
call Level.getPlatform 2
pop local 1
push local 1
push this 16
push this 17
push this 18
push this 19
call Platform.collided 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push this 4
push this 21
call Platform.grounded 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
call Platform.getY 1
push constant 1
sub
pop this 7
push constant 0
pop this 15
push constant 0
not
pop this 20
goto IF_END1
label IF_FALSE1
push this 5
pop this 8
push this 3
pop this 6
push local 1
push this 4
push this 7
push this 21
call Platform.topBounce 4
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 4
pop this 7
push this 15
push this 22
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 22
pop this 15
label IF_FALSE3
push this 21
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 2
label IF_FALSE4
goto IF_END2
label IF_FALSE2
push pointer 0
push constant 130
push constant 132
push this 9
sub
add
call King.setDirection 2
pop temp 0
label IF_END2
push this 9
push constant 131
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call King.moveSideways 1
pop temp 0
label IF_FALSE5
label IF_END1
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push argument 2
push constant 0
eq
push this 20
not
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 15
push this 22
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 22
pop this 15
label IF_FALSE7
label IF_FALSE6
push local 2
return
function King.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
