function Main.main 3
push constant 8175
call Main.draw 1
pop temp 0
push constant 0
pop local 1
push constant 0
not
pop local 2
label WHILE_EXP0
push local 2
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
label WHILE_EXP1
push local 0
push constant 32
eq
not
if-goto WHILE_END1
push constant 10
call Sys.wait 1
pop temp 0
push local 1
push constant 100
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
add
pop local 1
label IF_FALSE0
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
call Output.printInt 1
pop temp 0
push constant 0
pop local 2
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 8175
push local 1
call Main.jumpUp 2
pop temp 0
push constant 16384
push constant 8160
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 16384
push constant 8160
add
push constant 31
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.jumpUp 9
push argument 1
call Main.clamp 1
pop argument 1
push constant 0
pop local 7
push constant 160
push argument 1
call Math.multiply 2
push constant 100
call Math.divide 2
pop local 2
push local 2
push local 2
call Math.multiply 2
push constant 2
push constant 160
call Math.multiply 2
call Math.divide 2
pop local 1
push constant 0
pop local 0
push argument 0
call Main.draw 1
pop temp 0
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push local 0
push constant 1
add
neg
pop argument 1
push local 2
push local 2
call Math.multiply 2
push constant 4
push constant 80
neg
call Math.multiply 2
push argument 1
call Math.multiply 2
sub
call Math.sqrt 1
pop local 5
push local 2
neg
push local 5
add
push constant 100
call Math.multiply 2
push constant 2
push constant 80
neg
call Math.multiply 2
call Math.divide 2
pop local 3
push local 2
neg
push local 5
sub
push constant 100
call Math.multiply 2
push constant 2
push constant 80
neg
call Math.multiply 2
call Math.divide 2
pop local 4
push local 3
push constant 10
call Math.multiply 2
push local 7
sub
pop local 8
push local 8
call Sys.wait 1
pop temp 0
push local 3
push constant 10
call Math.multiply 2
pop local 7
push argument 0
push constant 64
push local 0
call Math.multiply 2
sub
call Main.drawAbove 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 1
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 0
call Output.printInt 1
pop temp 0
push constant 1000
pop local 7
label WHILE_EXP1
push local 0
push constant 0
gt
not
if-goto WHILE_END1
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 0
neg
push constant 1
add
pop argument 1
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 2
push local 2
call Math.multiply 2
push constant 4
push constant 80
neg
call Math.multiply 2
push argument 1
call Math.multiply 2
sub
call Math.sqrt 1
pop local 5
push local 2
neg
push local 5
add
push constant 100
call Math.multiply 2
push constant 2
push constant 80
neg
call Math.multiply 2
call Math.divide 2
pop local 3
push local 2
neg
push local 5
sub
push constant 100
call Math.multiply 2
push constant 2
push constant 80
neg
call Math.multiply 2
call Math.divide 2
pop local 4
push local 7
push local 3
push constant 10
call Math.multiply 2
sub
pop local 8
push local 8
call Sys.wait 1
pop temp 0
push local 7
push local 8
sub
pop local 7
push argument 0
push constant 64
push local 0
call Math.multiply 2
sub
call Main.drawBelow 1
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Main.jumpUp3 9
push argument 1
call Main.clamp 1
pop argument 1
push constant 0
pop local 7
push constant 160
push argument 1
call Math.multiply 2
push constant 100
call Math.divide 2
pop local 2
push local 2
push local 2
call Math.multiply 2
push constant 2
push constant 160
call Math.multiply 2
call Math.divide 2
pop local 1
push argument 0
call Main.draw 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 1
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 2
call Output.printInt 1
pop temp 0
push constant 0
pop local 0
push argument 0
push constant 5
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 5
sub
push constant 64
push constant 3
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 7
sub
push constant 64
push constant 12
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 5
sub
push constant 64
push constant 28
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 5
sub
push constant 64
push constant 51
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 5
sub
push constant 64
push constant 80
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push local 0
push constant 1
add
neg
pop argument 1
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 2
push local 2
call Math.multiply 2
push constant 4
push constant 80
neg
call Math.multiply 2
push argument 1
call Math.multiply 2
sub
call Math.sqrt 1
pop local 5
push local 2
neg
push local 5
add
push constant 100
call Math.multiply 2
push constant 2
push constant 80
neg
call Math.multiply 2
call Math.divide 2
pop local 3
push local 2
neg
push local 5
sub
push constant 100
call Math.multiply 2
push constant 2
push constant 80
neg
call Math.multiply 2
call Math.divide 2
pop local 4
push local 3
push constant 10
call Math.multiply 2
push local 7
sub
pop local 8
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 8
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 3
push constant 10
call Math.multiply 2
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 8
call Sys.wait 1
pop temp 0
push local 3
push constant 10
call Math.multiply 2
pop local 7
push argument 0
push constant 64
push local 0
call Math.multiply 2
sub
call Main.drawAbove 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push local 1
push constant 0
gt
not
if-goto WHILE_END1
push local 1
neg
pop argument 1
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 2
push local 2
call Math.multiply 2
push constant 4
push constant 80
neg
call Math.multiply 2
push argument 1
call Math.multiply 2
sub
call Math.sqrt 1
pop local 5
push local 2
neg
push local 5
add
push constant 100
call Math.multiply 2
push constant 2
push constant 80
neg
call Math.multiply 2
call Math.divide 2
pop local 3
push local 2
neg
push local 5
sub
push constant 100
call Math.multiply 2
push constant 2
push constant 80
neg
call Math.multiply 2
call Math.divide 2
pop local 4
push local 3
push constant 10
call Math.multiply 2
push local 7
sub
pop local 8
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 8
push constant 1
neg
call Math.multiply 2
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 3
push constant 10
call Math.multiply 2
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 8
push constant 1
neg
call Math.multiply 2
call Sys.wait 1
pop temp 0
push local 3
push constant 10
call Math.multiply 2
pop local 7
push argument 0
push constant 64
push local 1
call Math.multiply 2
sub
call Main.drawBelow 1
pop temp 0
push local 1
push constant 1
sub
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Main.clamp 0
push argument 0
push constant 20
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 0
push constant 40
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 20
return
label IF_FALSE1
push argument 0
push constant 60
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 40
return
label IF_FALSE2
push argument 0
push constant 80
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 60
return
label IF_FALSE3
push argument 0
push constant 100
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 80
return
goto IF_END4
label IF_FALSE4
push constant 100
return
label IF_END4
function Main.jumpUp2 9
push argument 1
call Main.clamp 1
pop argument 1
push constant 0
pop local 7
push constant 80
push argument 1
call Math.multiply 2
push constant 100
call Math.divide 2
pop local 2
push local 2
push local 2
call Math.multiply 2
push constant 2
push constant 40
call Math.multiply 2
call Math.divide 2
pop local 1
push constant 0
pop local 0
push argument 0
call Main.draw 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 1
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 2
call Output.printInt 1
pop temp 0
push argument 0
push constant 5
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 5
sub
push constant 64
push constant 3
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 7
sub
push constant 64
push constant 12
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 5
sub
push constant 64
push constant 28
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 5
sub
push constant 64
push constant 51
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
push argument 0
push constant 5
sub
push constant 64
push constant 80
call Math.multiply 2
sub
call Main.draw 1
pop temp 0
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push local 0
push constant 1
add
neg
pop argument 1
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 2
push local 2
call Math.multiply 2
push constant 4
push constant 20
neg
call Math.multiply 2
push argument 1
call Math.multiply 2
sub
call Math.sqrt 1
pop local 5
push local 2
neg
push local 5
add
push constant 100
call Math.multiply 2
push constant 2
push constant 20
neg
call Math.multiply 2
call Math.divide 2
pop local 3
push local 2
neg
push local 5
sub
push constant 100
call Math.multiply 2
push constant 2
push constant 20
neg
call Math.multiply 2
call Math.divide 2
pop local 4
push local 3
push constant 10
call Math.multiply 2
push local 7
sub
pop local 8
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 8
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 3
push constant 10
call Math.multiply 2
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 8
call Sys.wait 1
pop temp 0
push local 3
push constant 10
call Math.multiply 2
pop local 7
push argument 0
push constant 64
push local 0
call Math.multiply 2
sub
call Main.drawAbove 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 1
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 0
call Output.printInt 1
pop temp 0
push constant 2000
pop local 7
label WHILE_EXP1
push local 0
push constant 0
gt
not
if-goto WHILE_END1
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 0
neg
push constant 1
add
pop argument 1
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 2
push local 2
call Math.multiply 2
push constant 4
push constant 20
neg
call Math.multiply 2
push argument 1
call Math.multiply 2
sub
call Math.sqrt 1
pop local 5
push local 2
neg
push local 5
add
push constant 100
call Math.multiply 2
push constant 2
push constant 20
neg
call Math.multiply 2
call Math.divide 2
pop local 3
push local 2
neg
push local 5
sub
push constant 100
call Math.multiply 2
push constant 2
push constant 20
neg
call Math.multiply 2
call Math.divide 2
pop local 4
push local 7
push local 3
push constant 10
call Math.multiply 2
sub
pop local 8
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 8
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 3
push constant 10
call Math.multiply 2
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printChar 1
pop temp 0
push local 8
call Sys.wait 1
pop temp 0
push local 7
push local 8
sub
pop local 7
push argument 0
push constant 64
push local 0
call Math.multiply 2
sub
call Main.drawBelow 1
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
function Main.draw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 928
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 4094
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.drawAbove 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 992
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 7676
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 991
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.drawAbove2 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 960
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 7676
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.drawBelow 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 864
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 4094
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.draw1 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 992
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 991
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.draw2 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1056
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 992
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 960
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1055
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1023
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 991
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.draw3 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1120
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 992
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 960
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1119
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1087
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1055
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1023
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 991
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.draw4 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1184
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 992
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1183
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1151
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1119
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1087
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1055
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1023
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 991
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.draw5 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1248
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 992
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 960
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1247
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1215
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1183
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1151
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1119
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1087
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 1055
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 1023
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 991
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.draw6 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1312
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 992
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 960
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1311
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1279
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1247
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1215
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1183
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1151
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 1119
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 1087
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 1055
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 1023
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 991
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.draw7 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1376
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 992
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 960
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1375
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1343
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1311
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1279
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1247
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1215
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 1183
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 1151
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 1119
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 1087
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 1055
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 1023
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 991
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.draw8 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 1440
sub
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
sub
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
sub
push constant 9216
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
sub
push constant 25600
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
sub
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
sub
push constant 15868
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
sub
push constant 1538
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 992
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 960
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 928
sub
push constant 6145
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 896
sub
push constant 7170
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 864
sub
push constant 16144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 832
sub
push constant 24608
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 800
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 768
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 736
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 704
sub
push constant 32736
call Memory.poke 2
pop temp 0
push local 0
push constant 672
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 640
sub
push constant 16368
call Memory.poke 2
pop temp 0
push local 0
push constant 608
sub
push constant 8184
call Memory.poke 2
pop temp 0
push local 0
push constant 576
sub
push constant 16376
call Memory.poke 2
pop temp 0
push local 0
push constant 544
sub
push constant 32760
call Memory.poke 2
pop temp 0
push local 0
push constant 512
sub
push constant 32752
call Memory.poke 2
pop temp 0
push local 0
push constant 480
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1439
sub
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 1407
sub
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 1375
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1343
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1311
sub
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 1279
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 1247
sub
push constant 55
call Memory.poke 2
pop temp 0
push local 0
push constant 1215
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 1183
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 1151
sub
push constant 50
call Memory.poke 2
pop temp 0
push local 0
push constant 1119
sub
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 1087
sub
push constant 8176
call Memory.poke 2
pop temp 0
push local 0
push constant 1055
sub
push constant 8159
call Memory.poke 2
pop temp 0
push local 0
push constant 1023
sub
push constant 8143
call Memory.poke 2
pop temp 0
push local 0
push constant 991
sub
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 959
sub
push constant 8135
call Memory.poke 2
pop temp 0
push local 0
push constant 927
sub
push constant 8071
call Memory.poke 2
pop temp 0
push local 0
push constant 895
sub
push constant 391
call Memory.poke 2
pop temp 0
push local 0
push constant 863
sub
push constant 507
call Memory.poke 2
pop temp 0
push local 0
push constant 831
sub
push constant 1021
call Memory.poke 2
pop temp 0
push local 0
push constant 799
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 767
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 735
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 703
sub
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 671
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 639
sub
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 607
sub
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 575
sub
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 543
sub
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 511
sub
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 479
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 447
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 415
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 383
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 351
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 319
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 287
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 255
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 223
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 191
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 159
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 127
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 95
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 63
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 31
sub
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
